h1{
    color:brown;
}
*{
    border: solid;
    
}
.menu{
    background-color: aqua;
    display:flex;
    justify-content: space-between;
}
.grid{
    background: aquamarine;
    display: flex;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}